@import "tailwindcss";

@theme {
  --animate-spin: spin 3s linear infinite
}

.bg {
  background-image: url(/bg-img-2.svg);
  background-repeat: no-repeat;
  background-position: left -149px bottom -117px;
  position: relative;
}

.bg::after {
  z-index: -10;
  content: "";
  position: absolute;
  width: 297px;
  height: 235px;
  background-image: url(/bg-img-1.svg);
  background-repeat: no-repeat;
  right: -139px;
  top: -110px;
  transform: rotate(-128deg);
}
